/*
	Vanessa Hawkins
	Grid Style
	2019
*/


/*@media screen and (min-width: 1001px){
	.site {
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: 
			"head head"
			"title title"
			"main main"
			"main main"
			"footer footer";
		grid-gap: 1em;
		margin: 0 auto;
		justify-content: center;
		/*max-width: 80%;*/
		/*box-shadow: 1px 2px 2px 1px #633741;
		
	}
}*/

/*------------------------------------------------------ 
	For smaller screens:
------------------------------------------------------*/

/*@media screen and (max-width: 1000px){*/
	.site {
		grid-template-areas: 
			"head head head"
			"title title title"
			"main main main" 
			"item item item"
			"main main main"
			"footer footer footer";
		grid-gap: 1em;
		/*margin: 0em;*/
	}
/*}*/
/*------------------------------------------------------*/


.head {
	grid-area: head;
}

.title {
	grid-area: title;
}

.main {
	grid-area: main;
}

.item {
	grid-area: itemone;
}

.footer {
	grid-area: footer;
	
}

/*------------------------------------------------------ 
	Nested Grid:
------------------------------------------------------*/



/*------------------------------------------------------ 
	CSS Frid Layout for modern browsers:
------------------------------------------------------*/
/*
@supports (grid-area: auto){

}
*/

